html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron{
    background-image: url("../images/jumbo.jpg");
    background-size: cover;
    height: 600px;
}

.description{
    margin-top: 100px;
}

.card-view{
    margin-top: 100px;
}
