html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron{
    background-image: url("../images/jumbo.jpg");
    background-size: cover;
    height: 600px;
}

.description{
    padding-top: 50px;
}

.card-view{
    margin-top: 30px;
}

.bg-view{
    background-color: #e4e4e4;
    height: 200px;
}
